[submodule "lsx"]
	path = lsx
	url = git@github.com:SolraBizna/lsx
[submodule "libtttp"]
	path = libtttp
	url = git@github.com:SolraBizna/libtttp
[submodule "src/teg"]
	path = src/teg
	url = git@github.com:SolraBizna/teg
