[submodule "lsx"]
	path = lsx
	url = https://github.com/SolraBizna/lsx.git
[submodule "libtttp"]
	path = libtttp
	url = https://github.com/SolraBizna/libtttp.git
[submodule "src/teg"]
	path = src/teg
	url = https://github.com/SolraBizna/teg.git
